# Dependencies
node_modules

# Build output
dist
build

# Environment
.env
.env.*

# Logs
*.log
npm-debug.log*

# IDE
.vscode
.idea

# OS files
.DS_Store
Thumbs.db

# Coverage
coverage

# Prisma
prisma/dev.db